fastapi==0.115.0
uvicorn==0.30.6
sqlalchemy==2.0.35
psycopg2-binary==2.9.9
pydantic==2.9.2
pydantic-settings==2.6.1
python-jose==3.3.0
passlib==1.7.4
bcrypt==3.2.2
python-multipart==0.0.9
email-validator==2.2.0
cloudinary==1.40.0
firebase-admin==6.5.0
fastapi-mail==1.4.1